body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}
#conTr {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
#gameCanvas {
  position: relative;
}
#insideText {
  position: absolute;
  left: 20px;
  top: 20px;
}
#ThreeJS {
  position: relative;
}